<section id="app-cdr" class="row">
	<section class="row">
		<div class="col s12">
			<div class="row">
				<div class="input-field col s4">
					<input id="fecha_inicio" type="date">
					<label for="fecha_inicio">Fecha Inicio</label>
				</div>
				<div class="input-field col s4">
					<input id="fecha_termino" type="date">
					<label for="fecha_termino">Fecha T&eacute;rmino</label>
				</div>
				<div class="input-field col s4">
					<button id="refresh" class="btn"><i class="material-icons">search</i></button>
				</div>
			</div>
		</div>
	</section>
	<section class="row">
		<div class="col s12">
			<div class="table-responsive">
				<table id="cdr">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Inicio</th>
							<th>Contestado</th>
							<th>Finalizado</th>
							<th>Resultado</th>
							<th>Origen</th>
							<th>Destino</th>
							<th>Acci&oacute;n</th>
							<th>Troncal</th>
							<th>Tiempo Hablado</th>
							<th>Grabaci&oacute;n</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</section>
</section>
<script>
	$(document).ready(function () {
		let today = new Date();
		let fecha = `${today.getFullYear()}-${String(today.getMonth()+1).padStart(2,'0')}-${today.getDate()}`;
		
		let tb_cdr = $("#cdr").DataTable({
			ajax: {
				url: "/cdr", 
				dataSrc: '',
				data: function (data, settings) {
					console.info("Fecha inicio:", $("#fecha_inicio").val());
					console.info("Fecha termino:", $("#fecha_termino").val());
					
					data.api = 1;
					data.fecha_inicio = $("#fecha_inicio").val() || fecha;
					
					if (data.fecha_inicio !== fecha)
						data.fecha_termino = $("#fecha_termino").val() || fecha;

					console.log("Parametros datatable:", data);
					return data;
				}
			},
			language: {
				info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
				infoEmpty: "Sin registros por mostrar",
				loadingRecords: "Cargando...",
				processing : `<div class="preloader-wrapper small active">
					<div class="spinner-layer spinner-red-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>`,
				emptyTable: "<i>Sin registro disponibles</i>",
				search: "Buscar",
				zeroRecords: "No se encontraron registros",
				lengthMenu: "Mostrar _MENU_ entradas",
				paginate: {
					first: "Primero",
					last: "&Uacute;ltimo",
					next: "Siguiente",
					previous: "Anterior"
				}
			},
			columns: [
				{"data": "fecha"},
				{"data": "inicio"},
				{"data": "contesta"},
				{"data": "termino"},
				{"data": "resultado"},
				{"data": "src"},
				{"data": "exten"},
				{"data": "accion"},
				{"data": "destino"},
				{"data": "conversado"},
				{"data": "grabacion"}
			],
			initComplete: function () {
				let elems = document.querySelectorAll('select');
				let instances = M.FormSelect.init(elems);
				
				$("input[type='date']").val(fecha);
			}
		});
		
		$(refresh).on("click", () => tb_cdr.ajax.reload());
	});
	
</script>
