<div class="row">
    <div class="col s12 m4">
        <table id="queues-list">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tot. Miembros</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col s12 m8">
        <fieldset>
            <legend>Edici&oacute;n de Cola</legend>
            <form id="edicion">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a href="#general">General</a></li>
                            <li class="tab col s3"><a href="#secondary">Opcional</a></li>
                            <li class="tab col s3"><a href="#advance">Avanzado</a></li>
                        </ul>
                    </div>
                    <div id="general" class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="name" type="text">
                                <label for="name">Nombre</label>
                            </div>
                            <div class="input-field col s8">
                                <select name="strategy" id="strategy">
                                    <option value="ringall">Timbrar todos</option>
                                    <option value="leastrecent">&Uacute;ltimo reciente</option>
                                    <option value="fewestcalls">Menos llamadas</option>
                                    <option value="random">Aleatoreo</option>
                                    <option value="wrandom">Aleatorio, con memoria</option>
                                    <option value="rrmemory">Round Robin, con penalizaci&oacute;n</option>
                                    <option value="rrordered">Round Robin, ordenado</option>
                                    <option value="linear">Ordenado</option>
                                </select>
                                <label for="strategy">Estrategia de Selecci&oacute;n</label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="maxlen" type="number" title="Maximo de llamadas en espera">
                                <label for="maxlen">Maximo en Espera</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="timeout" type="number">
                                <label for="timeout">Tiempo de Espera</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="retry" type="number">
                                <label for="retry">Intentos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="servicelevel" type="number" title="Nivel de servicio esperado">
                                <label for="servicelevel">Nivel de servicio</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="wrapuptime" type="number" title="Tiempo maximo para finalizaci&oacute;n de llamada">
                                <label for="wrapuptime">Tiempo de Finalizaci&oacute;n</label>
                            </div>
                            <div class="input-field col s4">
                                <label>
                                    <input id="ringinuse" type="checkbox" class="filled-in">
                                    <span>Marcar en uso</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select name="devices" id="devices" multiple>
                                </select>
                                <label for="devcices">Seleccionar dispositivo</label>
                            </div>
                        </div>
                    </div>
                    <div id="secondary" class="col s12">
                        Parametros opcionales de la cola
                    </div>
                    <div id="advance" class="col s12">
                        Parametros avanzados de la cola
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn">
                            <i class="material-icons left">save</i> Guardar
                        </button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
<script>
    $(function () {
        M.Tabs.init(document.querySelectorAll('.tabs'));
        M.FormSelect.init(document.getElementById('strategy'));

        const refresh = () => {
            $.getJSON("/queues?list=1", function (rows) {
                rows.forEach((row) => {
                    $("#queues-list > tbody").append(
                        $("<tr>").append(
                            $("<td>", {text: row.name}),
                            $("<td>", {text: row.members})
                        )
                    );
                })
            });

            $.getJSON("/devices?list=1", function (rows) {
                $("#devices > option").remove();
                
                rows.forEach((row) => {
                    $("#devices").append(
                        $("<option>", {value: row.device, text: row.device})
                    );
                });
            }).always(() => {
                M.FormSelect.init(document.getElementById('devices'));
            });
        };

        $("#edicion").on("submit", function () {
            let data = {members: [], strategy: $("#strategy").val()};

            $(this).find("input").each((i, el) => {
                data[el.id] = el.value;
            });

            $("#devices option:selected").each((i, el) => data.members.push(el.value));

            $.ajax({
                method: "POST",
                url: "/queues",
                data: data,
                dataType: "json"
            }).always((result, status) => {
                M.toast({html: result.message, classes: "rounded"});

                if (status === "success") {

                }
            });
        });

        refresh();
    });
</script>